//全局样式
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #666;
}
a{
    color: #666;
    text-decoration: none;
    &:hover{
        color: #C80A28;    
    }
}
ul,ol{
    list-style: none;
}
img{
    border: none;
}
textarea{
    resize: none;
}
input,a,textarea{
    outline: none;
}
.clearfixed:after{
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}